.pageContainer {
    background-color: #141414;
    overflow: hidden;
}

.initShowsDisplay {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: #141414;
    width: 100%;
    position: relative;
}

.initContainer {
    animation: slideLeft 120s infinite linear;
    animation-play-state: running;
}

/*.initContainer:hover {
    animation-play-state: paused; 
}*/

.initShowContainer {
    display: inline-block;
    flex-direction: column;
    transition: transform 1s ease;
    /*animation: slideLeft 70s infinite linear;
    animation-play-state: running;*/
}

/*.initShowContainer:hover {
    animation-play-state: paused; 
}*/

.initShowImage {
    width: auto;
    height: 500px;
}

.initShowName {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.test1 {
    background-color: red;
    width: 366px;
}

.inBetween1 {
    height: 50px;
}

.topRatedTitle {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    padding-bottom: 30px;
    background-color: #141414;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif*/
}

.topRatedContainer {
    display: flex;
    width: 100%;
    /*background-color: red;*/
    height: auto;
}

.topShowsContainer {
    width: 50%;
    background-color: #141414;
}

.topMoviesContainer {
    flex: 1;
}

.topMediaItem {
    display: flex;
    height: 130px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .topMediaItem:hover {
        background-color: #272829;
    }

.topMediaItemImageContainer {
    display: flex;
    justify-content: center;
    width: 110px;
    height: 100%;
    overflow: hidden;
}

.topMediaItemImage {
    width: auto;
    height: 100%;
}

.topMediaIteminfoContainer {
    display:flex;
    justify-content: space-between;
    flex: 1;
    padding-left: 20px;
    padding-right: 60px;

}

.topMediaItemInfo {
    display: flex;
    flex-direction: column;
    color: white;
}

.topMediaItemTitle {
    font-size: 20px;
    color: white;
}

.topMediaItemDate {
    margin-top: 20px;
    color: #85827b;
}

.topMediaItemRating {
    display: flex;
    flex-direction: column;
    width: 150px;
    color: white;
}

.topMediaItemRatingStar {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 25px;
}

.topMediaItemNumRating {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
    color: #85827b;
}



.streamingServicesTitle {
    background-color: blue;
    color: white;
    font-size: 27px;
    display: flex;
    justify-content: left;
    padding-bottom: 30px;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif*/
}

.streamingServices {
    background-color: #141414;
    display: flex;
    justify-content: space-between;
}

.inBetween2 {
    height: 30px;
}

/* HorizontalSlider.razor.css */
.horizontal-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px; 
}

.slider-content {
    display: flex;
    transition: transform 0.3s ease;
}

.slider-item {
    flex: 0 0 auto;
    margin-right: 10px; 
    height: 500px;
    width: 200px;
}

.slider-item img {
    max-width: 100%;
    height: auto;
}

@media (max0width: 640px) {
    .pageContainer {
        width: 100%;
    }
}

@media (min-width: 641px) {
    .pageContainer {
        width: 92.857%;
    }
}

@media (min-width: 1400px) {
    .pageContainer {
        width: 1300px;
    }
}

/* Keyframes for sliding animation */
@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        /*transform: translateX(-3695px);*/
        transform: translateX(-6715px);
    }
}

/* Apply animation to .initShowContainer */
/*.initShowContainer {
    animation: slideLeft 5s infinite linear;*/ /* Adjust duration and timing function as needed */
/*}*/

