.pageContainer {
    background-color: #141414;
}

.initShowsDisplay {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: #141414;
    width: 100%;
    position: relative;
}

.initContainer {
    animation: slideLeft 120s infinite linear;
    animation-play-state: running;
}

/*.initContainer:hover {
    animation-play-state: paused; 
}*/

.initShowContainer {
    display: inline-block;
    flex-direction: column;
    transition: transform 1s ease;
    /*animation: slideLeft 70s infinite linear;
    animation-play-state: running;*/
}

/*.initShowContainer:hover {
    animation-play-state: paused; 
}*/

.initShowImage {
    width: auto;
    height: 500px;
}

.initShowName {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.test1 {
    background-color: red;
    width: 366px;
}

.inBetween1 {
    height: 50px;
}

.streamingServicesTitle {
    color: white;
    font-size: 27px;
    display: flex;
    justify-content: left;
    padding-bottom: 30px;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif*/
}

.streamingServices {
    background-color: #141414;
    display: flex;
    justify-content: space-between;
}

.inBetween2 {
    height: 30px;
}

/* HorizontalSlider.razor.css */
.horizontal-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px; 
}

.slider-content {
    display: flex;
    transition: transform 0.3s ease;
}

.slider-item {
    flex: 0 0 auto;
    margin-right: 10px; 
    height: 500px;
    width: 200px;
}

.slider-item img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 641px) {
    .pageContainer {
        width: 92.857%;
    }
}

@media (min-width: 1400px) {
    .pageContainer {
        width: 1300px;
    }
}

/* Keyframes for sliding animation */
@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        /*transform: translateX(-3695px);*/
        transform: translateX(-6715px);
    }
}

/* Apply animation to .initShowContainer */
/*.initShowContainer {
    animation: slideLeft 5s infinite linear;*/ /* Adjust duration and timing function as needed */
/*}*/

