.page {
    background-color: #141414;
    padding-top: 40px;
}

.showInfoContainer {
    display: flex;
    width: 100%;
    background-color: #141414;
}

.showInfoFirst {
    flex: 0 0 33%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.showInfoSecond {
    flex: 1;
    max-width: 67%;
    background-color: #141414;
    overflow-x: hidden;
    padding: 10px;
}

.showImageContainer {
    display: flex;
    justify-content: center;
}

.showImage {
    width: auto;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
}

.showTitle {
    margin-top: 30px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: center;
}
.showType {
    margin-top: 30px;
    padding-left: 30px;
    display: flex;
    color: white;
    font-size: 18px;
    width: 100%;
}

.showDes {
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

.rating-graph {
    width: 100%;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}

.rating-row {
    display:flex;
    align-items: center;
    background-color: #141414;
}

.rating-star-style {
    display:flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rating-bar-container {
    flex: 1;
    background-color: #878580;
    border-radius: 20px;
    margin-left: 10px;
}

.rating-bar {
    height: 10px;
    width: 0;
    background-color: #f2c84b;
    margin-left: 0px;
    border-radius: 10px;
}

.ratingSpace {
    height: 10px;
}

.showNumReviews {
    margin-top: 20px;
    color: #85827b;
    font-size: 15px;
    width: 100%;
    padding-left: 30px;
}

.signInButton {
    /*border: 2px solid antiquewhite;
    color: antiquewhite;
    background-color: #141414;*/
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.signInButton:hover {
    background-color: #575151;
    color: white;
}

.reviewContainer {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 10px;
    background-color: #0f0d0c;
    border-bottom: 3px solid #878383;
}

.topLine {
    margin-top: -30px;
    height: 10px;
    width: 100%;
    background-color: red;
}

.reviewInfo {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.reviewAuthor {
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.reviewDate {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.reviewMessage {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.reviewOptions {
    padding-top: 20px;
}

.spaceReviews {
    height: 30px;
}

.no-reviews-container {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (min-width: 641px) {
    .page {
        width: 92.857%;
    }
}

@media (min-width: 1400px) {
    .page {
        width: 1300px;
    }
}
