@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@inherits LayoutComponentBase
@layout AccountLayout

<div class="manage-container">
    <div class="settings-container">
        <h2 style="color: white;">Change your account settings</h2>
        <AuthorizeView>
            <Authorized>
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="" />
                    <button type="submit" class="nav-link">
                        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                    </button>
                </form>
            </Authorized>
        </AuthorizeView>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <ManageNavMenu />
            </div>
            <div class="col-md-9">
                @Body
            </div>
        </div>
    </div>
</div>
